body{
    color: black;
    background: white;
    padding: 100px;
    margin: 0;
    /* transform-style: preserve-3d; */
    /* perspective : 200em; */
    text-align: center;
    background: linear-gradient(to bottom, orange, red);
    height: 100vh;
}

.wheelcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform : rotateZ(-90deg); */
}

.wheelarrow{
    width: 40px;
    height: 50px;
    background: red;
    /* transform: translateY(50%); */
    position: relative;
    top: calc(50% - 25px);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    z-index: -1;
}

.wheel{
    color: black;
    background: white; 
    stroke:black; 
    background: red;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    /* animation-play-state: paused; */
    text-align: center;
    border: 9px dashed green;
    transition: all 3s ease;
}

#spinbutton{
    z-index: 1000;
    width: 200px;
    height: 50px;
    background: red;
    color: white;
    border-radius: 40px;
    animation: hover .5s linear 2s infinite alternate;
}

#spinbutton:hover{
    cursor: pointer;
    animation-play-state: paused;
    font-weight: bold;
}

#landedon{
    font-weight: bold;
    font-size: x-large;
}

@keyframes hover{
    0%{
        transform: translateY(0px);
        border: 1px solid black;
    }
    50%{
        transform: translateY(10px);
        border: 1px solid red;
    }
    100%{
        transform: translateY(14px);
        border: 1px solid orange;
    }
}

@keyframes rotate{
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}